@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Oswald&family=Poppins&family=Roboto&display=swap');

html{
	background-color: #ACACDE;
}

body {
	margin: 0px;

 }

h1 {
	font-family: 'Arvo', serif;
	color: black;
	font-size: 2vw;
	letter-spacing: 0.1m; /* space between each paragraph line */
	word-spacing: 5vw;
	padding-left: 10px;
}

p {
	font-family: 'Poppins', sans-serif;
	color: black;
	font-size: 1.2vw;
	line-height: 1.2em; /* space between each paragraph line */
	padding-left: 10px;
}

.wrapper{
	height: 80vh;
	display: grid;
	grid-template-rows: 4vw 49vw 12vw 12vw;
	grid-template-columns: auto;
 }

.wrapper2{
	height: 80vh;
	display: grid;
	grid-template-rows: 4vw 58vw 12vw;
	grid-template-columns: auto;
 }

 /*----------------NAV/BURGER NAV---------------------*/
 
 .nav{
	box-sizing: border-box;
	background-color: #087E8B;
	padding-left: 1vw;
	padding-right: 1vw;
	grid-column: 1 / span 6;
	grid-row: 1;
}

.logo{
	margin-right: 3vw;
	text-align: right;
	font-size: 5vw;
	width: 5vw;
	background-color:;
}

.link{
	word-spacing: 2vw;
	margin-top: 1.2vw;
	margin-right: 10vw;
	text-align: right;
	width: 16vw;
	color: black;
}

.link2{
	color: black;	
}

.query_nav{
	display: inline;
	font-size: 1.2vw;
	
}

.admin_nav{
	display: inline;
	font-size: 1.2vw;
	margin-top: 1.2vw;
	margin-right: 4vw;
	text-align: right;
	width: 22vw;
	color: black;
}

#menu__toggle {
	opacity: 0;
}

#menu__toggle:checked + .menu__btn > span {
	transform: rotate(45deg);
}

#menu__toggle:checked + .menu__btn > span::before {
	top: 0;
	transform: rotate(0deg);
}

#menu__toggle:checked + .menu__btn > span::after {
	top: 0;
	transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
	left: 0 !important;
}

.menu__btn {
	position: absolute;
	top: 2vw;
	left: 1vw;
	width: 1.8vw;
	height: 2vw;
	cursor: pointer;
	z-index: 3;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
	display: block;
	position: absolute;
	width: 100%;
	height: 0.25vw;
	background-color: #C7DFC5;
	transition-duration: .30s;
}

.menu__btn > span::before {
	content: '';
	top: -8px;
}

.menu__btn > span::after {
	content: '';
	top: 8px;
}

.menu__box {
	display: block;
	position: absolute;
	top: 0;
	left: -100%;
	width: 13vw;
	height: 53vw;
	margin: 0;
	padding: 6vw 0;
	list-style: none;
	background-color: #087E8B;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, .4);
	transition-duration: .30s;
}

.menu__item {
	display: block;
	padding: 1vw 2vw;
	color: #C7DFC5;
	font-family: 'Roboto', sans-serif;
	font-size: 1.5vw;
	font-weight: 600;
	text-decoration: none;
	transition-duration: .30s;
}

.menu__item:hover {
	background-color: #2D2E2E;
}

 /*-----------------------------------------------*/
 
.header{
	box-sizing: border-box;
	background-color: blue;
	padding-left: 1vw;
	padding-right: 1vw;
	grid-column: 1 / span 6;
	grid-row: 1;
	
}

.responsive {
	width: 100%;
	/*max-width: auto;*/
	height: 250px;
	object-fit: cover;
	object-position: bottom;
}

/*--------------Scrollbar------------*/

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/*-----------Image----------------*/

.img {
	margin:10px;
	float: right;
	top: 10px;
	right: 10px;
}

/*-------------Content Boxes----------------*/

.main_content{
	grid-column: 1 / span 6;
	grid-row: 2;
	display: grid;
	background: #ACACDE;
	grid-template-rows: 13vw 20vw;
	grid-template-columns: 14.5vw 20vw 5vw 20vw 5vw 20vw 5vw;
}

.sub_content{
	grid-column: 1 / span 3;
	grid-row: 1;
	background: blue;
	display: grid;
	grid-template-rows: 13vw 20vw;
	grid-template-columns: 14.5vw 20vw 5vw 20vw 5vw 20vw 5vw;
	z-index: 2;
}

.title1{
	background-color:;
	padding-top: 0vw;
	font-size: 4vw;
	grid-column: 1 / span 8;
	grid-row: 1;
}

.title2{
	background-color: #C7DFC5;
	padding-top: 2vw;
	font-size: 4vw;
	grid-column: 1 / span 8;
	grid-row: 1;
}

.title3{
	background-color: #C7DFC5;
	font-size: 1.2vw;
	height: 1.5vw;
	grid-column: 1 / span 8;
	grid-row: 2;
}

.content_2{
	box-sizing: border-box;
	background-color: #f7f7f7;
	background: rgba(204, 204, 204, 0.7);
	border-radius: 5px;
	grid-column: 2;
	grid-row: 2;
}

.content_3{
	box-sizing: border-box;
	background-color: #f7f7f7;
	background: rgba(204, 204, 204, 0.7);
	border-radius: 5px;
	grid-column: 4;
	grid-row: 2;
}

.content_4{
	box-sizing: border-box;
	background-color: #f7f7f7;
	background: rgba(204, 204, 204, 0.7);
	border-radius: 5px;
	grid-column: 6;
	grid-row: 2;
}

.footer{
	grid-column: 1 / span 6;
	grid-row: 3;
	background: #2D2E2E;
}

/*---------------CONTACT FORM --------------*/

input[type=text], select, textarea{
	width: 100%;
	height: 30px;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}

input[type=password], select, textarea{
	width: 100%;
	height: 30px;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}

input[type=submit]{
	background-color: #6cd45f;
	color: black;
	padding: 22px 40px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	float: right;
	margin-right: 6vw;
}

input[type=submit]:hover{
	background-color: #81f772;
}

.contact_content{
	box-sizing: border-box;
	background-color: #C7DFC5;
	margin-top: 3.5vw;
	margin-left: 12vw;
	padding-left: 2vw;
	height: 40vw;
	border-radius: 5px;
	grid-column: 3;
	grid-row: 2;
}

.column{
	float: left;
	width: 15%;
	margin-top: 100px;
}

.column2{
	float: left;
	width: 20vw;
	margin-top: 40px;
}

/* clear floats after the columns */
.row:after{
	content:"";
	display: table;
	clear: both;
}

/*-------Library Content ----------*/

::-webkit-scrollbar {
	width: 0;
	background: transparent;		
}

.content_5{
	box-sizing: border-box;
	margin: -18.4vw 6vw 0vw;
	width: 80%;
	height: 43.4vw;
	z-index: 2;
	overflow: scroll;
	overflow-x: hidden;
	grid-column: 2/ span 6;
	grid-row: 3;
}

content{
	z-index: 2;	
	overflow: auto;	
	overflow-x: auto;
}

heading1, heading2{
	width: 85%;
	display: grid;
    grid-gap: 2%;
	grid-template-columns: 5% 30% 15% 25% 15% 8% 10%;
    grid-template-rows: 50px;
	margin-bottom: 2vw;
	padding-bottom: 1vw;
	z-index: 5;
}

.test:hover {
  background-color: #D5DEE0;
}

/*div {
height:100px;width:100px;
background:blue;
margin:20px;
}

span {
display:none;
height:100px;width:100px;
background:pink;
margin:20px;
}

div:hover ~ span {
display:block;
}
<div>text 1</div>
<span>text 2</span>*/
