html{
	background-color: #dae8fc;
}

body {
	margin: 0px;

 }

h1 {
	color: black;
	font-size: 2vw;
	letter-spacing: 0.1m; /* space between each paragraph line */
	word-spacing: 5vw;
	padding-left: 10px;
}

p {
	color: black;
	font-size: 18px;
	line-height: 1.2em; /* space between each paragraph line */
	padding-left: 10px;
}

hr {
	border: 1px solid black;
}

.wrapper{
	height: 80vh;
	display: grid;
	grid-template-rows: 4vw 49vw 12vw 12vw;
	grid-template-columns: auto;
 }

.wrapper2{
	height: 80vh;
	display: grid;
	grid-template-rows: 4vw 58vw 12vw;
	grid-template-columns: auto;
 }

 /*----------------BURGER NAV---------------------*/
 
 .nav{
	box-sizing: border-box;
	background-color: #f7f7f7;
	padding-left: 1vw;
	padding-right: 1vw;
	background: rgba(204, 204, 204, 0.7);
	grid-column: 1 / span 6;
	grid-row: 1;
}

#menu__toggle {
	opacity: 0;
}

#menu__toggle:checked + .menu__btn > span {
	transform: rotate(45deg);
}

#menu__toggle:checked + .menu__btn > span::before {
	top: 0;
	transform: rotate(0deg);
}

#menu__toggle:checked + .menu__btn > span::after {
	top: 0;
	transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
	left: 0 !important;
}

.menu__btn {
	position: absolute;
	top: 2vw;
	left: 1vw;
	width: 1.8vw;
	height: 2vw;
	cursor: pointer;
	z-index: 3;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
	display: block;
	position: absolute;
	width: 100%;
	height: 0.25vw;
	background-color: #616161;
	transition-duration: .30s;
}

.menu__btn > span::before {
	content: '';
	top: -8px;
}

.menu__btn > span::after {
	content: '';
	top: 8px;
}

.menu__box {
	display: block;
	position: absolute;
	top: 0;
	left: -100%;
	width: 13vw;
	height: 100%;
	margin: 0;
	padding: 6vw 0;
	list-style: none;
	background-color: #ECEFF1;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, .4);
	transition-duration: .30s;
}

.menu__item {
	display: block;
	padding: 1vw 2vw;
	color: #333;
	font-family: 'Roboto', sans-serif;
	font-size: 1.5vw;
	font-weight: 600;
	text-decoration: none;
	transition-duration: .30s;
}

.menu__item:hover {
	background-color: #f7f7f7;
}

 /*-----------------------------------------------*/
 
.header{
	box-sizing: border-box;
	background-color: blue;
	padding-left: 1vw;
	padding-right: 1vw;
	grid-column: 1 / span 6;
	grid-row: 1;
	
}

.responsive {
	width: 100%;
	/*max-width: auto;*/
	height: 250px;
	object-fit: cover;
	object-position: bottom;
}

/*--------------Scrollbar------------*/

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/*-----------Image----------------*/

.img {
	margin:10px;
	float: right;
	top: 10px;
	right: 10px;
}

/*-------------Content Boxes----------------*/

.main_content{
	grid-column: 1 / span 6;
	grid-row: 2;
	background: #3299a8;
	display: grid;
	grid-template-rows: 13vw 20vw;
	grid-template-columns: 14.5vw 20vw 5vw 20vw 5vw 20vw 5vw;
}

.sub_content{
	grid-column: 1 / span 3;
	grid-row: 1;
	background: blue;
	display: grid;
	grid-template-rows: 13vw 20vw;
	grid-template-columns: 14.5vw 20vw 5vw 20vw 5vw 20vw 5vw;
	z-index: 2;
}

.title1{
	background-color:;
	padding-top: 0vw;
	font-size: 4vw;
	grid-column: 1 / span 8;
	grid-row: 1;
}

.title2{
	background-color: #34c747;
	padding-left: 3vw;
	padding-top: 2vw;
	font-size: 4vw;
	grid-column: 1 / span 8;
	grid-row: 1;
}

.content_2{
	box-sizing: border-box;
	background-color: #f7f7f7;
	background: rgba(204, 204, 204, 0.7);
	grid-column: 2;
	grid-row: 2;
}

.content_3{
	box-sizing: border-box;
	background-color: #f7f7f7;
	background: rgba(204, 204, 204, 0.7);
	grid-column: 4;
	grid-row: 2;
}

.content_4{
	box-sizing: border-box;
	background-color: #f7f7f7;
	background: rgba(204, 204, 204, 0.7);
	grid-column: 6;
	grid-row: 2;
}

.footer{
	grid-column: 1 / span 6;
	grid-row: 3;
	background: #f5f564;
}
/*---------------CONTACT FORM --------------*/

input[type=text], select, textarea{
	width: 100%;
	height: 60px;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}

input[type=submit]{
	background-color: blue;
	color: white;
	padding: 22px 40px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	float: right;
	margin-right: 6vw;
}

input[type=submit]:hover{
	background-color: #45a049;
}

.contact_content{
	box-sizing: border-box;
	background-color: green;
	margin-top: 3.5vw;
	padding-left: 2vw;
	height: 40vw;
	grid-column: 6;
	grid-row: 2;
}

.column{
	float: left;
	width: 15%;
	margin-top: 100px;
}

.column2{
	float: left;
	width: 20vw;
	margin-top: 40px;
}

/* clear floats after the columns */
.row:after{
	content:"";
	display: table;
	clear: both;
}

/*-------Library Content ----------*/

.content_5{
	box-sizing: border-box;
	margin: -18vw 6vw 0vw;
	width: 80%;
	height: 3vw;
	background-color: #f7f7f7;
	z-index: 2;
	padding-left: 15px;
	padding-right: 10px;
	background: rgba(204, 204, 204, 0.7);
	grid-column: 2/ span 6;
	grid-row: 3;
}

.content_6{
	box-sizing: border-box;
	margin: -14vw 6vw 0vw;
	width: 80%;
	height: 3vw;
	background-color: #f7f7f7;
	z-index: 2;
	padding-left: 15px;
	padding-right: 10px;
	background: rgba(204, 204, 204, 0.7);
	grid-column: 2/ span 6;
	grid-row: 3;
}

.content_7{
	box-sizing: border-box;
	margin: -10vw 6vw 0vw;
	width: 80%;
	height: 3vw;
	background-color: #f7f7f7;
	z-index: 2;
	padding-left: 15px;
	padding-right: 10px;
	background: rgba(204, 204, 204, 0.7);
	grid-column: 2/ span 6;
	grid-row: 3;
}

.content_8{
	box-sizing: border-box;
	margin: -6vw 6vw 0vw;
	width: 80%;
	height: 3vw;
	background-color: #f7f7f7;
	z-index: 2;
	padding-left: 15px;
	padding-right: 10px;
	background: rgba(204, 204, 204, 0.7);
	grid-column: 2/ span 6;
	grid-row: 3;
}

.content_9{
	box-sizing: border-box;
	margin: -2vw 6vw 0vw;
	width: 80%;
	height: 3vw;
	background-color: #f7f7f7;
	z-index: 2;
	padding-left: 15px;
	padding-right: 10px;
	background: rgba(204, 204, 204, 0.7);
	grid-column: 2/ span 6;
	grid-row: 3;
}

.content_10{
	box-sizing: border-box;
	margin: 2vw 6vw 0vw;
	width: 80%;
	height: 3vw;
	background-color: #f7f7f7;
	z-index: 2;
	padding-left: 15px;
	padding-right: 10px;
	background: rgba(204, 204, 204, 0.7);
	grid-column: 2/ span 6;
	grid-row: 3;
}

.content_11{
	box-sizing: border-box;
	margin: 6vw 6vw 0vw;
	width: 80%;
	height: 3vw;
	background-color: #f7f7f7;
	z-index: 2;
	padding-left: 15px;
	padding-right: 10px;
	background: rgba(204, 204, 204, 0.7);
	grid-column: 2/ span 6;
	grid-row: 3;
}

.content_12{
	box-sizing: border-box;
	margin: 10vw 6vw 0vw;
	width: 80%;
	height: 3vw;
	background-color: #f7f7f7;
	z-index: 2;
	padding-left: 15px;
	padding-right: 10px;
	background: rgba(204, 204, 204, 0.7);
	grid-column: 2/ span 6;
	grid-row: 3;
}

.content_13{
	box-sizing: border-box;
	margin: 14vw 6vw 0vw;
	width: 80%;
	height: 3vw;
	background-color: #f7f7f7;
	z-index: 2;
	padding-left: 15px;
	padding-right: 10px;
	background: rgba(204, 204, 204, 0.7);
	grid-column: 2/ span 6;
	grid-row: 3;
}

.content_14{
	box-sizing: border-box;
	margin: 18vw 6vw 0vw;
	width: 80%;
	height: 3vw;
	background-color: #f7f7f7;
	z-index: 2;
	padding-left: 15px;
	padding-right: 10px;
	background: rgba(204, 204, 204, 0.7);
	grid-column: 2/ span 6;
	grid-row: 3;
}

heading1, heading2{
	width: 85%;
	display: grid;
	 grid-gap: 2%;
	grid-template-columns: 0% 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
	grid-template-rows: 25px;
}
